input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 350px;
    height: 3px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
    margin-top: 50px;
  }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #4db2cc;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1.1);
}